@font-face {
  font-family: "Lovelo-Black";
  src: url(./fonts/Lovelo/Lovelo-Black.woff2) format("woff2"),
      url(./fonts/Lovelo/Lovelo-Black.woff) format("woff"),
      url(./fonts/Lovelo/Lovelo-Black.eot) format("embedded-opentype");
}

@font-face {
    font-family: "Lovelo-Line";
    src: url(./fonts/Lovelo/Lovelo-LineLight.woff2) format("woff2"),
        url(./fonts/Lovelo/Lovelo-LineLight.woff) format("woff"),
        url(./fonts/Lovelo/Lovelo-LineLight.eot) format("embedded-opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Lovelo-Line";
    src: url(./fonts/Lovelo/Lovelo-LineBold.woff2) format("woff2"),
        url(./fonts/Lovelo/Lovelo-LineBold.woff) format("woff"),
        url(./fonts/Lovelo/Lovelo-LineBold.eot) format("embedded-opentype");
    font-weight: 500;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: linear-gradient(45deg, #000000 0%, #FF8C00 80%);
    background-attachment: fixed;
    color: white;
}

* {
    box-sizing: border-box;
}
